.pricing {
    width: 100%;
    padding: 6rem 1rem;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Adjusts the number of columns based on the available space */
    gap: 20px; /* Space between cards */
    max-width: 1140px;
    margin: auto;
    justify-items: center; 
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card-container.hovered {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
  

.card {
    width: 100%;
    max-width: 300px; /* Optional: Limit the max width of the cards */
    border: 1px solid white;
    color: white;
    text-align: center;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    transition: background-color 0.3s, border-radius 0.3s;
}

.card:hover {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    transform: translateY(-5px); /* Elevate on hover */
}

.card h3 {
    font-size: 1.4rem;
    padding: 1rem;
    color: white;
}

.cert-image {
    width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 10px;
}

@media screen and (max-width: 900px) {
    .card-container {
        grid-template-columns: 1fr; /* Stack cards vertically on smaller screens */
    }
}
