.youtube-section {
    width: 100%;
    padding: 6rem 0;
    background-color: black;
    color: white;
    text-align: center;
}

.video-container {
    max-width: 1140px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.video-container h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

@media screen and (max-width: 740px) {
    .video-container {
        padding: 0 1rem;
    }

    .video-container h2 {
        font-size: 2rem;
    }
}