.about {
    width: 100%;
    padding: 6rem 1rem;
    background-color: black;
  }
  
  .heading {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .social-media-title {
    text-align: center;
    margin-top: 4rem;
  }
  
  .social-media-title h2 {
    font-size: 2rem;
    color: #eee;
  }
  
  /* Container for the YouTube video */
  .video-container {
    display: flex;
    justify-content: center;
    margin: 5rem 0;
  }
  
  /* Video iframe sizing */
  .video-container iframe {
    width: 960px; /* Width similar to YouTube theater mode */
    height: 540px; /* Height similar to YouTube theater mode */
    max-width: 100%;
    max-height: calc(100vw * 9 / 16); /* Maintain 16:9 aspect ratio */
  }
  
  /* About Container for the Cards */
  .about-container {
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
  }
  .icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem; /* Space between icons */
    margin: 2rem 0; /* Margin around the icon container */
  }
  
  .icon-item {
    text-align: center;
  }
  
  .icon-item p {
    margin-top: 0.5rem;
    color: #eee; /* Title color */
    font-size: 1rem;
  }
  
  .icon-item a {
    text-decoration: none; /* Remove underline from links */
    color: inherit; /* Inherit color from parent */
  }
  
  .icon-item:hover p {
    color: #fff; /* Change color on hover */
  }
  
  .icon-item:hover svg {
    transform: scale(1.1); /* Slightly enlarge icon on hover */
    transition: transform 0.3s ease;
  }
  .tech-icons-container {
    display: flex;
    justify-content: center;
    gap: 2rem; /* Adjust the gap as needed */
    margin: 2rem 0; /* Space around the icons */
  }
  
  .tech-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #fff; /* Change this to your preferred color */
  }
  
  .tech-icon p {
    margin-top: 0.5rem;
    font-size: 1rem;
  }
  
  
  