.about {
    width: 100%;
    padding: 6rem 1rem;
    background-color: black;
  }
  
  .heading {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .social-media-title {
    text-align: center;
    margin-top: 4rem;
  }
  
  .social-media-title h2 {
    font-size: 2rem;
    color: #eee;
  }
  
  /* Container for the YouTube video */
  .video-container {
    display: flex;
    justify-content: center;
    margin: 5rem 0;
  }
  
  /* Video iframe sizing */
  .video-container iframe {
    width: 960px; /* Width similar to YouTube theater mode */
    height: 540px; /* Height similar to YouTube theater mode */
    max-width: 100%;
    max-height: calc(100vw * 9 / 16); /* Maintain 16:9 aspect ratio */
  }
  
  /* About Container for the Cards */
  .about-container {
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
  }
  
  .about-card {
    border: 1px solid #eee;
    color: #eee;
    text-align: center;
    padding: 1rem;
  }
  
  .about-card h3 {
    font-size: 1.4rem;
    padding: 1rem;
  }
  
  .about-card p {
    padding: 10px 0;
  }
  