.mask{
    width: 100%;
    height: 100vh;
    position: relative;
}

.intro-img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.mask::after{
    content: "";
    width: 100%;
    height: 100%;
    position:absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.3;
}

.hero{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    grid-template-columns: auto;
}

.hero .content{
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    text-align: center;
}

.hero .content h1{
    position: relative;
    top: 90px;
    left: 200px;
    justify-content: space-between;
    font-size: 4rem;
    padding: 0.6rem 0 1.5rem;
    color: white;
}

.hero .content p{
    position: relative;
    top: 80px;
    left: 120px;
    justify-content: space-between;
    font-size: 1.4rem;
    font-weight: 200;
    text-transform: uppercase;
    color: white;
}

.content .btn{
    position: relative;
    left: 95px;
    top: 100px;
    margin: 1rem 0.2rem;
    border-radius: 30px;
}

.hero .avatar{
    height: 250px;
    width: 250px;
    position: relative;
    left: -100px;
    top: -100px;
    display: flex;
    justify-content: space-between;
    opacity: 0.8;
}

.hero .avatar:hover{
    transform:rotate(7deg);
    transition: ease-in-out 0.4s;
}

@media screen and (max-width:640px) {
    .hero .content h1{
        font-size: 3rem;
        left: 0;
        top: 0;
    }
    
    .hero .content p{
        font-size: 1.4rem;
        left: 0;
        top: 0;
    }

    .content .btn{
        left: 0;
        top: 0;
    }
    
    .hero .avatar{
        display: none;
    }
}
