.project-heading {
    text-align: center;
    padding: 4rem 0 2rem 0;
}

.project-container {
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
    padding-bottom: 5rem;
    border-radius: 20px;
}

.project-card {
    padding: 1.2rem 1rem;
    border-radius: 20px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s ease;
}

.project-card.light {
    background: #f5f5f5;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.project-card.dark {
    background: #383434;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.project-card img {
    width: 100%;
    border-radius: 20px;
    max-height: 150px;
    object-fit: cover;
}

.project-title {
    padding: 1rem 0;
    text-align: center;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.project-title.light {
    color: #333;
}

.project-title.dark {
    color: #fff;
}

.project-details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-details p {
    padding-bottom: 1rem;
    font-size: 0.9rem;
    text-align: justify;
    transition: color 0.3s ease;
}

.project-details p.light {
    color: #333;
}

.project-details p.dark {
    color: white;
}

.project-btns {
    display: flex;
    justify-content: center;
    padding: 0.5rem 0;
    gap: 10px;
    margin-top: auto;
}

.project-btns .btn {
    padding: 0.7rem 2.8rem;
    border-radius: 20px;
}

@media screen and (max-width: 740px) {
    .project-container {
        max-width: 90%;
        margin: auto;
        row-gap: 35px;
        grid-template-columns: 1fr;
    }
}