.project-heading{
    text-align: center;
    padding: 4rem 0 2rem 0;
}

.project-container{
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
    padding-bottom: 5rem;
    border-radius: 20px;
}

.project-card{
    background:#383434;
    padding:1.2rem 1rem;
    border-radius: 20px;
}

.project-card img  {
    width: 100%;
    border-radius: 20px;
}

.project-title{
    color: #fff;
    padding: 1rem 0;
}

.project-details p {
    padding-bottom: 1rem;
    font-size: .9rem;
    text-align: justify;
    color: white;
    transition: color 0.3s ease; /* Only animate color change */
}

.project-details p:hover {
    color: #f0f0f0; /* Only change the text color on hover */
    background: none; /* Ensure there's no background change */
    border: none; /* Ensure there's no border or box-shadow */
}


.project-btns{
    display: flex;
    justify-content: center;
    padding: 0.5rem 0;
    margin: auto 10px;
}

.project-btns .btn{
    padding: 0.7rem 2.8rem;
    border-radius: 20px;
}

@media screen and (max-width: 740px) {
    .project-container {
        max-width: 90%;
        margin: auto;
        row-gap: 35px;
        grid-template-columns: 1fr;
    }   
}